@import "tailwindcss";

:root {
  --background: #ffffff;
  --forground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-forground: var(--forground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --forground: #ededed
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
